.App {
  text-align: center;
}
.para-height {
  height: 100px;
}
#bg-container {
  background-image: url("assets/Poster-2.png");
  height: 100vh;
  width: 100vw;
}
#bg-container-splash {
  background-image: url("assets/Poster-3.png");
  height: 100vh;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.left-animation {
  transition: transform 0.5s;
}
.parent .left-animation {
  transform: translateX(-30%);
}
.right-animation {
  transition: transform 0.5s;
  transform: translateX(30%);
}

.right-animation1 {
  transition: transform 0.2s;
  transform: translateX(29.7%);
}
.left-animation1 {
  transition: transform 0.2s;
  transform: translateX(-29.7%);
}
/* .parent .right-animation {
  
} */

.roadmapStorybtn {
  transition: transform 2s;
  transform: translateX(50px);
}
.social-media-animation {
  transition: transform 2s;
  transform: translateX(-50px);
}
.nav-bar-animation {
  transition: transform 1s;
  transform: translateY(50px);
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate {
  animation: jump 0.25s linear;
}

@keyframes jump {
  0% {
    top: -20px;
  }
  30% {
    top: -110px;
  }
  70% {
    top: -110px;
  }
  100% {
    top: -20px;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
