body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Aveny T";
  src: url("./assets/fonts/avenyt.otf");
}
@font-face {
  font-family: "Papyrus";
  src: url("./assets/fonts/papyrus.TTF");
}
@font-face {
  font-family: "Alpha Echo";
  src: url("./assets/fonts/alpha_echo.ttf");
}